body {
    font-family: 'Roboto', sans-serif;
    background-color: #000; 
    color: white;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0d6efd;
}

#login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    margin-top: 15px;
    background-color: #1e1e1e;
    color: #bebebe;
}

.email input,
.senha input {
    background-color: #1e1c2e;
}

.entrar input {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #0d6efd;
    color: #141414;
    margin-top: 15px;
}

input::placeholder {
    color: #bebebe;
}

h1 {
    color: #fafafa;
}

.caixa {
    background-color: #1e1e1e; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    margin: auto; 
}

.caixa img {
    width: 180px;
    margin-bottom: 20px;
}


.cpf,
.cnpj {
    display: none;
}

#tipo_usuario {
    width: 250px;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding-left: 15px;
    margin-top: 15px;
    background-color: #1e1e1e; 
    color: #bebebe;
}

.caixa p {
    text-align: right;
    margin-top: 15px;
    font-size: 14px;
}

.caixa a {
    color: #0d6efd;
}

#tipo_usuario_label {
    font-size: 13px;
}
